.container {
  --container-padding: 16px;

  width: 100%;
  max-width: $bp-desktop;
  margin: 0 auto;
  padding-inline: var(--container-padding);

  @include tablet {
    --container-padding: 44px;
  }
}
