.burger {
  position: relative;
  z-index: 200;

  display: block;

  width: 24px;
  height: 24px;

  background-image: url('../images/icon-menu.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &--active {
    background-image: url('../images/icon-close.svg');
  }

  @include desktop {
    display: none;
  }

  &__label {
    @include visually-hidden;
  }
}
