.products {
  @include grid;

  row-gap: 0;
  margin-top: 104px;

  @include tablet {
    margin-top: 228px;
  }

  @include desktop {
    margin-top: 218px;
  }

  &__content {
    display: flex;
    grid-column: 1 / -1;
    flex-direction: column;
    gap: 56px;

    @include tablet {
      gap: 80px;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__title {
    color: $c-accent-orange;
  }
}
