@import 'utils';
@import 'fonts';
@import 'typography';
@import '../styles/blocks/header';
@import '../styles/layout/container';
@import '../styles/blocks/menu';
@import '../styles/blocks/logo';
@import '../styles/blocks/burger';
@import '../styles/blocks/phone';
@import '../styles/blocks/arrow';
@import '../styles/blocks/button';
@import '../styles/blocks/hero';
@import '../styles/blocks/products';
@import '../styles/blocks/product';
@import '../styles/blocks/about';
@import '../styles/blocks/footer';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  @extend %body-text;

  overflow-x: hidden;

  width: 100%;
  max-width: 100%;

  font-family: $font-primary;
  color: $c-black;

  background: $c-light-pink;
}

.body--with-menu {
  overflow: hidden;
}
